<h1>About</h1>

<p>Freelancelot is a project management tool for freelancers and a tracker for their clients. Clients are given their own ticket number for a project and can search from there or find it from a list of categories provided. Freelancers can log in their hours spent on a project and update the status for their client such as "Received", "In Progress" or "Completed".</p>
