<!--From 1st Ruby project-->
<!--<% @projects.each do |project| %>
  <h2><a href="/projects/<%= project.id %>"><%= project.title %></a></h2>
<% end %> -->

<!--Show project function -->
<% @projects.each do |project| %>
  <h2><%= link_to project.title, project_path(project), :class => "show_project", :'data-id' => project.id %></h2>
<% end %>
