<% if @category.errors.any? %>
The following error(s) prevented this project from being saved:
  <% @category.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for @category do |f| %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<!--categories.js -->
<div id="categoryResult">
  <h2 id="categoryName"></h2>
</div>
